---
permalink: /feed.xml
---
{% assign posts = collections.posts | reverse %}<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title | xml_escape }}</title>
    <link href="{{ "/feed.xml" | prepend: site.url }}" rel="self" type="application/atom+xml"></link>
    <link href="{{ site.url }}/" rel="alternate" type="text/html"></link>
    <subtitle>{{ site.description | xml_escape }}</subtitle>

    <updated>{{ page.date | date_to_xmlschema }}</updated>
    <author>
        <name>Raymond Camden</name>
        <email>raymondcamden@gmail.com</email>
    </author>
    <id>{{ "/feed.xml" | prepend: site.url }}</id>

    <generator>Eleventy</generator>

        {% for post in posts limit:10 %}
            <entry>
                <id>{{ post.url | prepend: site.url }}</id>
                <title>{{ post.data.title | my_xml_escape }}</title>
                <updated>{{ post.date | date_to_xmlschema }}</updated>

                <content type="html">
				{% if post.templateContent contains '<!--more-->' %}
                        {{ post.content | split:'<!--more-->' | first | my_xml_escape }}
                    {% else %}
						{% capture content %}{% excerpt post %}{% endcapture %}
                        {{ content | my_xml_escape }}
                    {% endif %}
				</content>

                {% for tag in post.data.tags %}
                <category term="{{ tag | my_xml_escape }}" />
                {% endfor %}
                {% for cat in post.data.categories %}
                <category term="{{ cat | my_xml_escape }}" />
                {% endfor %}
                <author>
                    <name>Raymond Camden</name>
                    <email>raymondcamden@gmail.com</email>
                </author>
            </entry>
        {% endfor %}
</feed>