<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>{% if renderData.title %}{{ renderData.title | titlecase }}{% elsif title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title> 
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if renderData.title %}{{ renderData.title | capitalize }}{% elsif title %}{{ title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:creator" content="@raymondcamden" />    
    <meta name="twitter:site" content="@raymondcamden" />    
    {% if description %}
    <meta name="twitter:description" content="{{page.description}}" />
    {% endif %}
    {% if banner_image %}
    <meta name="twitter:image" content="{{ "https://static.raymondcamden.com" | append: banner_image }}" />
    {% endif %}
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/prism.css" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.url }}">
    <link rel="webmention" href="https://webmention.io/www.raymondcamden.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.raymondcamden.com/xmlrpc" />
</head>
<body>
    <nav id="top" class="site-navigation">
        <div class="inner">
            <button id="menu-toggle" aria-expanded="false">Menu</button>
            <div class="nav-menu">
                <ul class="menu">
                {% for link in site.navigation %}
                  {% assign current = nil %}
                  {% if page.url == link.url %}
                    {% assign current = 'nav-current' %}
                  {% endif %}
                  <li class="{{ current }}">
                    <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                  </li>
                {% endfor %}
                </ul>        
            </div><!-- .nav-menu -->
            <a class="subscribe-button fa-feed square fill-horizontal" href="/feed.xml"><span class="screen-reader-text">Subscribe</span></a>
        </div><!-- .inner -->
    </nav><!-- .site-navigation -->
    <header class="site-header">
        <div class="inner">
            <h1 class="site-title"><a class="logo-text" href="/">{{site.title}}</a></h1>
            <p class="site-description">{{site.tagline}}</p>
        </div><!-- .inner -->
    </header>
    {{content}}
    {% include footer %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script id="dsq-count-scr" src="//raymondcamden.disqus.com/count.js" async></script>
    <script src="/js/prism.js"></script>
    <script src="js/lazysizes.min.js" async=""></script>
</body>
</html>
