<aside class="sidebar">

    {% if site.author_bio and site.author_name %}
    <section class="widget widget-text">
        <h2 class="widget-title">About {{ site.author_name }}</h2>
        <p>{{ site.author_bio }}</p>
    </section><!-- .widget-text -->
    {% endif %}

    <section class="widget widget-recent-posts">
        <h2 class="widget-title">Latest Posts</h2>
        <ul class="recent-posts">
        </ul><!-- .recent-posts -->
    </section><!-- .widget-recent-posts -->

    <div style="margin:auto;width:200px;padding-bottom:30px">
    {% include coffee %}
    </div>

    {% assign cats = collections | postCategories %}

    <section class="widget widget-tags">
        <h2 class="widget-title">Categories</h2>
        <div class="tagcloud">
            {% for cat in cats %} 
                <a href="{{site.baseurl}}/categories/{{ cat | myEscape }}">{{ cat }}</a>
            {% endfor %}
        </div><!-- .tagcloud -->
    </section><!-- .widget -->

    <!--Create a sorted array of tags-->
    {% assign tags = collections | postTags %}

    <section class="widget widget-tags">
        <h2 class="widget-title">Tags</h2>
        <div class="tagcloud">
            {% for tag in tags %}
            <a href="{{site.baseurl}}/tags/{{ tag | myEscape }}/">{{ tag }}</a>
            {% endfor %}
        </div><!-- .tagcloud -->
    </section><!-- .widget -->

    <section class="widget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Blog 2018 Right -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1736437642005360"
            data-ad-slot="5087649347"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </section>

</aside><!-- .sidebar -->
