---
body_class: home-template
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

    <title>{% if renderData.title %}{{ renderData.title | titlecase }}{% elsif title %}{{ title }}{% else %}{{ site.title }}{% endif %}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i%7CKarla:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

    <meta name="description" content="{% if description %}{{ description | my_xml_escape }}{% else %}{{ site.description | my_xml_escape }}{% endif %}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if renderData.title %}{{ renderData.title | my_xml_escape }}{% elsif title %}{{ title | my_xml_escape}}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:creator" content="@raymondcamden" />    
    <meta name="twitter:site" content="@raymondcamden" />    
    <meta name="og:title" content="{% if renderData.title %}{{ renderData.title | my_xml_escape }}{% elsif title %}{{ title | my_xml_escape }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta name="og:type" content="blog" />

    {% if description %}
    <meta name="twitter:description" content="{{description | my_xml_escape  }}" />
    <meta name="og:description" content="{{ description | my_xml_escape }}" />
    {% else %}
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="og:description" content="{{ site.description }}" />
    {% endif %}

    {% if banner_image %}
    <meta name="twitter:image" content="{{ "https://static.raymondcamden.com" | append: banner_image }}" />
    <meta name="og:image" content="{{ "https://static.raymondcamden.com" | append: banner_image }}" />
    {% endif %}

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">

    <link rel="stylesheet" href="/css/prism.css" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.url }}">
    <link rel="webmention" href="https://webmention.io/www.raymondcamden.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.raymondcamden.com/xmlrpc" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T5V3C8M5RY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T5V3C8M5RY');
    </script>

<!-- remove later -->
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="VEGZFTJH" defer></script>
<!-- / Fathom -->

</head>

<body class="{{body_class}}">

	<div id="page" class="site">
		{% include 'header' %}
		<div id="content" class="site-content">
			{{content}}
			<!-- The tag below includes the theme footer - partials/footer.hbs -->

		{% include 'footer' %}

		</div>
	</div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/lazysizes.min.js" async=""></script>
<!-- remove later -->
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "613650266bcc4d069e8636d44b3efcc7"}'></script><!-- End Cloudflare Web Analytics -->
<!-- remove later -->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '61f19eecf0822b4a6581f0e2');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
